{% extends 'design.html' %}

{% block breadcrum %}{% endblock %}
{% block title %}TOP 15 most rated shows{% endblock %}
{% block welcomediv %}
    <p>Here you can see all the shows we handpicked in a sweet little table.</p>
    <p>You can order this little handy list by Title, Year, Average Runtime Length and Rating - just click the headers to do so.</p>
    <p>If you'd like to change order of the values (highest to lowest or lowest to highest) use the arrows in the last coloumn!</p>

{% endblock %}
    {% block table %}
        <div class="card">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Average Runtime Length</th>
                    <th>Rating</th>
                    <th>Genres</th>
                    <th>Link to Trailer</th>
                    <th>Link to Homepage</th>
                    <th class="action-column">Order</th>
                </tr>
                </thead>
                <tbody>
                    {% for show in most_rated_shows[start:end] %}
                    <tr>
                    <td><a href="{{ '/show/' + (show['id'] | string) }}">{{show['title']}}</a></td>
                    <td>{{show['year']}}</td>
                    <td>{{show['runtime']}}</td>
                    <td>{{show['rating']}}</td>
                    <td>{{show['name']}}</td>
                    {% if show['trailer']: %}
                        <td><a href="{{(show['trailer']| string)}}">{{show['trailer']}}</a></td>
                    {% else: %}
                        <td>No URL available</td>
                    {% endif %}
                    {% if show['homepage']: %}
                        <td><a href="{{(show['homepage']| string)}}">{{show['homepage']}}</a></td>
                    {% else: %}
                        <td>No URL available</td>
                    {% endif %}
                    <td class="action-column">
                        <button type="submit" name= "orderByASC" id="buttonASC" value="ASC" class="icon-button"><i class="fa fa-arrow-up"></i></button>
                        <button type="submit" name= "orderByDESC" id="buttonDESC" value="DESC" class="icon-button"><i class="fa fa-arrow-down"></i></button>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    {% endblock %}
    {% block card %}<br><br>{% endblock %}
    {% block pagination %}
        {% if current_page == 0: %}
            <label style="color: grey;">«</label>
        {% else %}
            {% if prev_page == 0 %}
                <a href="{{ '/shows/most-rated'}}">«</a>
            {% else %}
                <a href="{{ '/shows/most-rated/' + (prev_page | string) }}">«</a>
            {% endif %}
        {% endif %}
        {% for pg in range(page_count) %}
            {% if pg == current_page: %}
                <label style="color: rgb(203, 75, 70);">{{pg+1}}</label>
            {% else: %}
                {{pg+1}}
            {% endif %}
        {% endfor %}
        {% if current_page == 61: %}
            <label style="color: grey;">»</label>
        {% else %}
            <a href="{{ '/shows/most-rated/' + (next_page | string) }}">»</a>
        {% endif %}
    {% endblock %}
    {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="../static/js/get-value.js"></script>
    {% endblock %}
{% block cardview %}{% endblock %}
