{% extends 'design.html' %}

{% block breadcrum %}{% endblock %}
{% block title %}TOP 15 most rated shows{% endblock %}
{% block welcomediv %}Here you can see the most rated shows (highest to lowest) in a sweet little table.{% endblock %}
    {% block table %}
        <div class="card">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Average Runtime Length</th>
                    <th>Rating</th>
                    <th>Genres</th>
                    <th>Link to Trailer</th>
                    <th>Link to Homepage</th>
                </tr>
                </thead>
                <tbody>
                    {% for show in most_rated_shows[start:end] %}
                    <tr>
                    <td><a href="{{ '/show/' + (show['id'] | string) }}">{{show['title']}}</a></td>
                    <td>{{show['year']}}</td>
                    <td>{{show['runtime']}}</td>
                    <td>{{show['rating']}}</td>
                    <td>{{show['name']}}</td>
                    {% if show['trailer']: %}
                        <td><a href="{{(show['trailer']| string)}}">{{show['trailer']}}</a></td>
                    {% else: %}
                        <td>No URL available</td>
                    {% endif %}
                    {% if show['homepage']: %}
                        <td><a href="{{(show['homepage']| string)}}">{{show['homepage']}}</a></td>
                    {% else: %}
                        <td>No URL available</td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    {% endblock %}
    {% block card %}<br><br>{% endblock %}
    {% block pagination %}
        {% if current_page == 0: %}
            <label style="color: grey;">«</label>
        {% else %}
            {% if prev_page == 0 %}
                <a href="{{ '/shows/most-rated'}}">«</a>
            {% else %}
                <a href="{{ '/shows/most-rated/' + (prev_page | string) }}">«</a>
            {% endif %}
        {% endif %}
        {% for pg in range(page_count) %}
            {% if pg == current_page: %}
                <label style="color: rgb(203, 75, 70);">{{pg+1}}</label>
            {% else: %}
                {{pg+1}}
            {% endif %}
        {% endfor %}
        <a href="{{ '/shows/most-rated/' + (next_page | string) }}">»</a>
    {% endblock %}

{% block cardview %}{% endblock %}
